/* PC */
@media(min-width: 64em) {
    #content .sub-content-name-description {
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }
}

/* Tablet */
@media(min-width: 46.25em) and (max-width: 63.9375em) {

 

    /* sub-content my name */
    #content .sub-content-name {
        display: flex;
        flex-direction: row;
        padding: 32px 16px;
        background-color: #fff;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    #content .sub-content-myphoto {
        width: 150px;
        border-radius: 8px;
        margin-right: 16px;
    }

    #content .sub-content-name-description {
        padding: 0 !important;
    }
    

    #content .name-description-heading {
        display: none;
    }

    #content .name-description-about {
        margin: 0 !important;
    }
}

/* Tablet && Mobile */
@media(max-width: 63.9375em)  {
    #content {
        flex-direction: column;
        width: 100%;
        flex-direction: column-reverse;
    }

    #content .main-content {
        width: 100%;
    }

    #content .sub-content {
        width: 100%;
    
    }

    /* sub-content popular posts */
    #content .sub-content-port {
        display: none;
    }

    /* sub-content tags */
    #content .sub-content-tag {
        display: none;
    }
}

/* Mobile */
@media(max-width: 46.1875em) {
    /* sub-content my name */
    #content .sub-content-name {
        margin-right: 0 !important;
        margin-left: 0 !important;
        background-color: #fff;
    }

    #content .name-description-about {
        margin: 15px 0;
    }
}